wsdl/src/main/java/com/olexyn/about/java/jaxb/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ClassToMarshal" type="classToMarshal"/>

  <xs:complexType name="classToMarshal">
    <xs:sequence/>
    <xs:attribute name="foo" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>

